body {
    background-color: #e6f3f9;
}

header {
    background-color: #fad2e1;
}

nav li {
    display:inline;
}

nav a {
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 740px;
    margin: 0 auto;
    padding: 10px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 42%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;

    /*
    border-color: #000000;
    border-widht: 2px;
    border-style: solid;
    */
     border: 4px solid #dedede;
     border-radius: 50px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto_preco body {
    background-color: #e6f3f9;
}

header {
    background-color: #fad2e1;
}

nav li {
    display:inline;
}

nav a {
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 740px;
    margin: 0 auto;
    padding: 10px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 42%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;

    /*
    border-color: #000000;
    border-widht: 2px;
    border-style: solid;
    */
     border: 4px solid #dedede;
     border-radius: 50px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto_preco {
    font-size: 22px;
    font-weight: bold;
}

.produto_descriçao {
    font-size: 18px;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

.produtos li:hover {
    border-color: #fad2e1;
}

.produtos li:active {
    border-color: #f3bdff;
}

.produtos li:hover h2 {
    font-size: 40px;
}
    
.produto_descriçao {
    font-size: 18px;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

.produtos li:hover {
    border-color: #fad2e1;
}

.produtos li:active {
    border-color: #f3bdff;
}

.produtos li:hover h2 {
    font-size: 40px;
}

footer {
    background: url("bg.jpg");
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #dedede;
}

#id_footer {
    color: #dedede;
}

.p_footer {
    color: #dedede;
}